{% extends 'base.html.twig' %}

{% block title %}liste des hôtels{% endblock %}

{% block body %}

<div class = "jumbotron" style="background-color:#FEF9F9">
    <h1>Hôtels</h1>
</div>  
<a class="btn btn-warning" style="color:white" href="{{ path('app_hotel_newHotel') }}" role="button" >Créer</a>
<hr>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Nom de l'hôtel</th>
        <th>Adresse</th>
        <th>Description</th>
        <th>Statut</th>
        <th>fichier de l'image</th>
        <th>Catégorie</th>
        <th>Image</th>
    </tr>
    {%for hotel in hotels %}
        <tr>
            <td>{{ hotel.name }}</td>
            <td>{{ hotel.address }}</td>
            <td>{{ hotel.description }}</td>
            <td>{{ hotel.status }}</td>
            <td>{{ hotel.imageName }}</td>
            <td>{{ hotel.categoryHotel.label }}</td>
            <td><img src="{{ vich_uploader_asset(hotel, 'imageFile') }}" alt="{{ hotel.name }}" width="100" height="auto"/></td>
            <td><a class="btn btn-info" style="color:white" href="{{ path('app_hotel_editHotel', {'id':hotel.id}) }}" role="button" >Modifier</a></td>
            <td><a class="btn btn-danger" style="color:white" href="{{ path('hotel_deleteHotel', {'id':hotel.id}) }} " role="button" >Supprimer</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}