{% extends 'base.html.twig' %}

{% block title %}Nouvel hôtel{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1>Créer un nouvel hôtel</h1>
</div>

{{ form_start(form) }}
    
    {{ form_row(form.name, {'attr': {'placeholder': "Nom de l'hôtel"}}) }}
    {{ form_row(form.address, {'attr': {'placeholder': "Adresse de l'hôtel"}}) }}
    {{ form_row(form.description, {'attr': {'placeholder': "Description de l'hôtel"}}) }}
    {{ form_row(form.status, {'attr': {'placeholder': "Status de l'hôtel"}}) }}
    {{ form_row(form.imageName, {'attr': {'placeholder': "Adresse de l'image de l'hôtel"}}) }}
    {{ form_row(form.imageFile, {'attr': {'placeholder': "Image de l'hôtel"}}) }}
    {{ form_row(form.categoryHotel) }}
    
    <div class=" mx-auto d-block">
        <button type="submit" class="btn btn-success">Créer hôtel</button>
    </div>
{{ form_end(form) }}

{% endblock %}