<style>
    .fa-home {
    color: white;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <div>
        <a href="\"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
    </div>
    &nbsp&nbsp&nbsp&nbsp
    <a class="navbar-brand" href="{{ path("homepage") }}">ViveHotel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("homepage") }} ">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("ads_index") }}">Annonces</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Les listes</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path("hotel_listHotel") }}">
                    <i class="fa fa-bed"></i>&nbsp;  Liste hôtels
                </a>
                <a class="dropdown-item" href="{{ path("room_listRoom") }}">
                    <i class="fa fa-bed"></i>&nbsp;Liste chambres
                </a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDopdownLink">
                        <img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="Avatar de {{app.user.firstname}} {{app.user.lastname}}"> {{app.user.firstname}} {{app.user.lastname}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-rigth" aria-labelledby="accountDopdownLink">
                        <a href="{{ path("ads_create") }}" class="dropdown-item">Créer une annonce</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                        <a href="{{ path("account_bookings") }}" class="dropdown-item">Mes réservations</a>
                        <a href="{{ path('account_profile') }}" class="dropdown-item">Modifier mon profil</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('account_login') }}" class="nav-link">Connexion</a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a href="{{ path("admin_index") }}" class="nav-link">Admin</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}