<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    
    <a href="{{ path("admin_index") }}"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
    <a class="navbar-brand" href="{{ path("admin_index") }}">ViveHotel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-area-chart"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("admin_admin_listAssign") }}">
                    <i class="fa fa-users"></i>Liste pour l'affectation des roles
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hôtels et catégories</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("admin_hotel_listCategoryHotel") }}">
                        <i class="fa fa-bed"></i>&nbsp;  Liste catégories hôtels
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path("admin_hotel_listHotel") }}">
                        <i class="fa fa-bed"></i>&nbsp;  Liste hôtels
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Chambres et catégories</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("admin_room_listRoom") }} ">
                        <i class="fa fa-bed"></i>&nbsp;  Liste chambres
                    </a>
                    <a class="dropdown-item" href="{{ path("admin_room_listCategoryRoom") }}">
                        <i class="fa fa-bed"></i>&nbsp;  Liste catégories
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path("admin_room_listTypelit") }}">
                        <i class="fa fa-bed"></i>&nbsp;  Liste type de lit
                    </a>
                </div>
            </li>
        </ul> 
        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDopdownLink">
                        <img src="{{ app.user.picture }}" class="avatar avatar-medium" alt="Avatar de {{app.user.firstname}} {{app.user.lastname}}"> {{app.user.firstname}} {{app.user.lastname}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-rigth" aria-labelledby="accountDopdownLink">
                        <a href="{{ path('admin_account_logout') }}" class="dropdown-item">
                            <i class="fa fa-unlock"></i> Déconnexion
                        </a>
                        <a class="dropdown-item" href="{{ path("homepage") }}" target="_blank">
                            <i class="fa fa-eye"></i> Voir le site
                        </a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("admin_ads_index") }}">
                <i class="fa fa-hotel"></i>&nbsp;  Annonces
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("admin_admin_listUser") }}">
                <i class="fa fa-users"></i>&nbsp;  liste des utilisateurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("admin_admin_listRole") }}">
                <i class="fa fa-users"></i>&nbsp;  Liste des roles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <i class="fa fa-money"></i>&nbsp;  Liste des tarifs
                </a>
            </li>
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}