<style>
    .dropdown-menu {
        background-color: cyan;
        color: black;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div>
        <a href="{{ path("admin_index") }}"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
    </div>
    &nbsp&nbsp&nbsp&nbsp
    <a class="navbar-brand" href="{{ path("admin_index") }}">ViveHotel</a>
    

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-area-chart"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("admin_ads_index") }}">
                    <i class="fa fa-hotel"></i>Annonces
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("admin_admin_listUser") }}">
                    <i class="fa fa-users"></i>liste des utilisateurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("admin_admin_listRole") }}">
                    <i class="fa fa-users"></i>Liste des roles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("admin_admin_listAssign") }}">
                    <i class="fa fa-users"></i>Liste pour l'affectation des roles
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hôtels et catégories</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("admin_hotel_listCategoryHotel") }}">
                        <i class="fa fa-bed"></i>&nbsp;  Liste catégories hôtels
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path("admin_hotel_listHotel") }}">
                        <i class="fa fa-bed"></i>&nbsp;  Liste hôtels
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Chambres et catégories</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path("admin_room_listRoom") }} ">
                        <i class="fa fa-bed"></i>&nbsp;  Liste chambres
                    </a>
                    <a class="dropdown-item" href="{{ path("admin_room_listCategoryRoom") }}">
                        <i class="fa fa-bed"></i>&nbsp;  Liste catégories
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path("admin_room_listTypelit") }}">
                        <i class="fa fa-bed"></i>&nbsp;  Liste type de lit
                    </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!--
            <li class="nav-item">
                <a href="{{ path("homepage") }}" target="_blank" class="nav-link">
                    <i class="fa fa-eye"></i>Voir le site
                </a>
            </li>
            -->
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDopdownLink">
                        <img src="{{ app.user.picture }}" class="avatar avatar-medium" alt="Avatar de {{app.user.firstname}} {{app.user.lastname}}"> {{app.user.firstname}} {{app.user.lastname}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-rigth" aria-labelledby="accountDopdownLink">
                        <a href="{{ path('admin_account_logout') }}" class="dropdown-item">
                            <i class="fa fa-unlock"></i> Déconnexion
                        </a>
                        <a class="dropdown-item" href="{{ path("homepage") }}" target="_blank">
                            <i class="fa fa-eye"></i> Voir le site
                        </a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}