{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
</style>

{% if editMode %}
    <div class="jumbotron" style="background-color:orange">
        <h1>Modification de l'utilisateur</h1>
    </div>                
{% else %}
    <div class="jumbotron" style="background-color:cyan">
        <h1>Création d'un utilisateur</h1>
    </div>
{% endif %}

<div class="container">
    {{ form_start(form) }}
    {#
    {{ form_widget(form) }}
    #}
    <div class="row">
        <div class="col-8">
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.picture, {'attr': {'required': false}}) }}
            {{ form_row(form.hash) }}
            {{ form_row(form.passwordConfirm) }}
            
            <div class=" mx-auto d-block mt-3">
                <button type="submit" class="btn btn-success">
                    {% if editMode %}
                        Modifier
                    {% else %}
                        Créer
                    {% endif %}
                </button>
            </div>
        </div>
        <div class="col" style="border-left: 1px solid #ccc;">
            {% if user.id > 0 %}
            <div class="card bg-light mt-5">
                <div class="card-body">
                <br>
                    <div style="text-align:center">
                        <div class="card-title">
                            Roles de cet utilisateur : <br>
                            <strong>{{ user.firstname }} {{ user.lastname }}</strong>
                        </div>
                        <img src="{{ user.picture }}" class="avatar avatar-medium" alt="Avatar de {{user.firstname}} {{user.lastname}}">
                    </div>
                <br>
                <ul>
                {% for role in user.roles %}
                    <li>{{ role }}</li>
                {% endfor %}
                </ul>
                <br>
                </div>
            </div>
            {% else %}
                <div class="card bg-light mt-5">
                    <div class="card-body">
                        <br>
                        <h3 style="text-align:center;color:blue">Intégrez votre nouvel utilisateur</h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}    
</div>
{% endblock %}