<!DOCTYPE html>
<html lang="fr">
    <head role="header">
        <meta charset="UTF-8">
        <title>ViveHotel - {% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        {#<link rel="stylesheet" href="/css/main.css">#}
        <link rel="stylesheet" href="/css/app.css">
        {% endblock %}
    </head>
    <body>
        <main>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" role="navigation">
            <div>
                <a href="\"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
            </div>
            &nbsp&nbsp&nbsp&nbsp
            <a class="navbar-brand" href="{{ path("homepage") }}">ViveHotel</a>
            

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("homepage") }} ">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("ads_index") }}">Liste des annonces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_hotel_newHotel") }}">Nouvel hôtel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("hotel_listHotel") }}">Liste hôtels</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        </main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
            {% block javascripts %}{% endblock %}
    </body>
</html>
